.attendance-detail-board {
    margin: 0 auto;
    width: 520px;
    display: block;
}

.detail-table-container {
    padding: 20px 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.detail-table-content {
    background: white;
    color: black;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    padding: 10px 0;
}

.detail-table-upper-content {
    background: white;
    color: black;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    border-top: 2px solid #eee;
    padding: 10px 0;
}

.detail-table-middle-content {
    background: white;
    color: black;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    padding: 0;
}

.detail-table-lower-content {
    background: white;
    color: black;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 2px solid #eee;
    padding: 0 0;
}

.detail-label {
    width: 40px;
}

.detail-table-gravity-left {
    text-align: left;
    padding-left: 5px;
}
