.calendar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
    border-radius: 10px;
}

.calendar-text {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.calendar-container-prev-text {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.calendar-container-svg-prev-arrow {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    margin: 0 10px;
}

.calendar-container-svg-next-arrow {
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    margin: 0 10px;
}

.calendar-container-next-text {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.calendar-button {
    background-color: transparent; /* 背景色を透明に設定 */
    border: transparent;
    color: #000; /* テキストの色 */
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}

.calendar-button-content {
    align-items: center;
    display: flex;
}

.calendar-svg {
    width: 60px;
    height: 20px;
}

.calendar-note {
    padding: 3px;
    font-weight: bold;
}

.calendar-summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 4px;
    background: #f9f9f9;
}

/* デフォルトの三角を消す（Chrome等） */
.calendar-summary::-webkit-details-marker {
    display: none;
}

/* 開いてるときの見た目 */
.calendar-toggle[open] .calendar-summary {
    background: #eaeaea;
}

.calendar-toggle {
    position: relative;
}

#calendar-table {
    display: none; /* 初期状態では非表示 */
    position: absolute; /* 重ねて表示 */
    top: 100%; /* ボタンの下に表示 */
    left: 0;
    width: 100%;
    z-index: 10; /* 重ねる位置を指定 */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#calendar-table.show {
    display: table; /* 表示状態にする */
}
