.body-white,
.body-white-gray {
    font-family: "Hiragino Kaku Gothic Pro", "Yu Gothic", Meiryo, sans-serif;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
}

.body-white {
    background-color: #fff;
}

.body-white-gray {
    background-color: #eee;
}

.list-title-container {
    text-align: left;
    align-items: center;
}

.list-title {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.list-title::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 30px;
    background-color: black;
    margin-right: 10px;
    vertical-align: middle;
}

.list-table-new-line {
    white-space: pre-wrap;
    text-align: center;
    display: block;
    width: 100%;
}

.list-table-container {
    padding: 20px 0;
    margin: 0;
}

.list-table {
    width: 100%; /* テーブル全体の幅を100%に設定 */
    table-layout: fixed; /* 列を均等に配置 */
}

.list-table-header {
    background: white;
    color: black;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
}

.list-table-content {
    background: white;
    color: black;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}

.list-table-header,
.list-table-content {
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    padding: 3px 0;
}

.list-table-detail {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between; /* 左・中央・右を自動配置 */
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: black;
}

.header-form {
    width: 100%;
}

/* 左ブロックも整える */
.header-left-block {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-index {
    width: 100%;
}

/* 画像サイズ調整 */
.header-svg-logo {
    height: auto;
    width: 90%;
}

/* 中央ブロックを完全中央に */
.header-middle-block {
    width: 34%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    font-size: 16px;
}

/* 右ブロックを右端に寄せる */
.header-right-block {
    width: 45%;
    gap: 0px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-right-block-child {
    width: 100%;
    max-width: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-log {
    padding: 0;
}

.header-right-block-button {
    color: white;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.header-log-button {
    color: white;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    font-size: 18px;
}

.form__button {
    margin-top: 20px;
    font-size: 18px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: black;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

.form__label--item {
    font-weight: bold;
    padding: 20px 0;
}

.link-no-decoration {
    color: #0000ff;
    text-decoration: none;
}

.error-message {
    color: #d93025;
    font-size: 12px;
    margin-top: 4px;
}

.underline {
    border-bottom: 1px solid #000;
}

.fromTo {
    width: 10px;
}

.time-value-field {
    display: block;
    cursor: default;
    border: 1px solid #000;
    border-radius: 5px;
    border-bottom: 1px solid gray;
    padding: 0 10px;
    text-align: center;
}

.time-value-field.disabled-field {
    display: block;
    cursor: pointer;
    border: none;
}

.time-value-field,
.time-value-field.disabled-field {
    width: 200px;
    margin: 10px;
}

.description-field {
    display: block;
    cursor: default;
    border: 1px solid #000;
    resize: none;
    border-radius: 5px;
    border-bottom: 1px solid gray;
    padding: 0 10px;
}

.description-field.disabled-field {
    display: block;
    cursor: pointer;
    border: none;
    resize: none;
}

.description-field,
.description-field.disabled-field {
    width: 435px;
    margin: 10px;
}

.gravity-center-child {
    text-align: center;
    font-size: 18px;
}
