.index-board {
    height: 100vh; /* 画面の高さに合わせる */
    margin: 0 auto; /* margin-top を使わない */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-button-group-container {
    padding: 0;
    justify-content: center;
    text-align: center;
}

.index-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-environment-status {
    padding: 3px 10px;
    width: fit-content;
    background-color: #ccc;
    color: black;
    border-radius: 2000px;
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
}

.index-checkin-button {
    display: block;
}

.index-checkin-button.invisible {
    display: none;
}

.index-break-time-start-button {
    display: block;
}

.index-break-time-start-button.invisible {
    display: none;
}

.index-checkin-button,
.index-checkin-button.invisible {
    background-color: black;
    color: white;
}

.index-break-time-start-button,
.index-break-time-start-button.invisible {
    background-color: white;
    color: black;
}

.index-checkin-button,
.index-checkin-button.invisible,
.index-break-time-start-button,
.index-break-time-start-button.invisible {
    margin: 40px 20px;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 35px;
    width: 180px;
}

.index-current-year-month-day-weekday {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.index-current-hour-minute {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

.good-job {
    display: block;
}

.good-job.invisible {
    display: none;
}

.good-job,
.good-job.invisible {
    margin-top: 40px;
    font-size: 20px;
}
